.about{
    background-image: url("https://img.freepik.com/free-photo/watercolor-texture-background_24972-958.jpg?size=626&ext=jpg&ga=GA1.1.44546679.1715731200&semt=ais_user");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    text-align: center;
    margin-bottom: 30px;
}
.first{
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 500;
}
.about-top{
    /* background-color: white; */
    width: 60vw;
    height: 95vh;
    margin: auto;
    padding-top: 130px;
}
.icon{
    font-size: 25px;
}
.contact-footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}